@CHARSET "UTF-8";



body {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
    background-image:url("https://i.gyazo.com/31b59fd6388e008e7f51f5be2f1535d4.jpg");
    background-size: cover;
}

#header {
    font-size:17px;
    width: 57%;
    width: 100%;
    height: 100px;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
    max-width: 800px;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}


table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#flush_success{
   width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

table#employee_list th{
    width:30%;
    padding:10px 2%;
}

table#employee_list td{
    width:29%;
    padding:10px 2%;
}

select{
    height:30px;
}

#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#employee_name {
    color: #9370DB;
    width: 57%;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}


table#report_list th{
    font-weifht:bold;
    padding:10px 2%;
}

table#report_list .report_name{
    width: 15%;
    padding: 10px ;
}

table#report_list .report_date{
     width: 15%;
}

table#report_list .report_title{
     width: 40%;
}

table#report_list .report_action{
     width: 13%;
}

pre{
    font-family:"Hiragino Kaku Gothic Pro",Meiryo,"MS Gothic",Helvetica,Arial,sans-serif;
}

h3{
    font-size:larger;
}



/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* body */
body {
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
}

/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  margin-bottom: 7em;
  max-width: 370px;
}

h1 {
  text-align: center;
  padding: 1em 0;
  margin-top: 3em;
}

form {
  padding: 0 1.5em;
  color: #fafafa;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
  margin-bottom: 1.5em;
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}
